service: flux-erp-api

provider:
  name: aws
  runtime: nodejs24.x
  region: ap-south-2
  memorySize: 512
  timeout: 10
  environment:
    NODE_ENV: production
    MONGO_URI: ${param:MONGO_URI}
    JWT_SECRET: ${param:JWT_SECRET}
    CORS_ORIGIN: 'https://flux-erp-web.vercel.app'

build:
  esbuild: false

functions:
  api:
    handler: src/lambda.handler
    events:
      - http:
          path: /
          method: ANY
      - http:
          path: /{proxy+}
          method: ANY

plugins:
  - serverless-offline
  - serverless-esbuild 

custom:
  esbuild:
    bundle: true
    minify: true
    sourcemap: true
    target: 'node24'
    packager: 'npm'
    exclude: ['aws-sdk']