service: flux-erp-api

provider:
  name: aws
  runtime: nodejs18.x
  region: ap-south-2 # Hyderabad
  memorySize: 512 # 512MB is a good balance for cost/speed
  timeout: 10 # 10 seconds timeout
  environment:
    # We pass these variables to Lambda
    NODE_ENV: production
    MONGO_URI: ${param:MONGO_URI}
    JWT_SECRET: ${param:JWT_SECRET}
    CORS_ORIGIN: 'https://flux-erp-web.vercel.app'

functions:
  api:
    handler: dist/lambda.handler # Points to your compiled lambda.ts
    events:
      - http:
          path: / # Matches root
          method: ANY
          # cors: true  <-- DELETED (Lets Express handle CORS)
      - http:
          path: /{proxy+} # Matches all other routes
          method: ANY
          # cors: true  <-- DELETED (Lets Express handle CORS)

plugins:
  - serverless-offline

package:
  individually: true
  patterns:
    - 'dist/**'           
    - 'node_modules/**'    
    - '!src/**'           
    - '!test/**'
    - '!jest.config.js'
    - '!nodemon.json'
    - '!README.md'